.problem-page {
    text-align: center;
}

.problem-page-header-container {
    height: 4.5rem;
    overflow-y: hidden;
    overflow-x: visible;
    margin-top: -10rem;
}

.problem-page-header {
    opacity: 1;
    transition: all ease-in-out 1000ms;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
}

.problem-page-sub-header {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
    margin-top: -5rem;
}

.hidden {
    opacity: 0;
}

.problem-page-section {
    padding: 12rem 0;
    align-content: center;
    border-bottom: 1px solid #eee;
}

.problem-page-section.no-border {
    border-bottom: none;
}

.problem-page-header.hidden {
    height: 0px;
}

.problem-page-characteristics {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: -2rem;
}

.problem-page-statement {
    margin: auto;
    width: 50rem;
}

.competition-matrix {
    display: table;
    width: 100%;
    justify-content: center;
}

.competition-matrix-header {
    background-color: #444;
    color: #fff;
}

.competition-matrix-header > div {
    align-self: center;
}

.competition-matrix-row {
    background-color: #eee;
    color: #676;
}

.competition-matrix-row > div {
    align-self: center;
}

.problem-page-flow-image {
    height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}
.problem-page-sub-header-2 {
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: start;
    margin-bottom: 2rem;

}
.problem-image{
    height: 20rem;
    width: 15rem;
    float: right;
}
.problem-page-sub-header-3 {
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.reference-space {
    margin-bottom: 1rem;
}

.risks-page ul {
    text-align: left;
}