h2 {
    font-size: 2rem;
    font-weight: 700;
    
}

.MFCD-header, .mockup-header {
    font-size: 2rem;
    font-weight: 700;
    
}

.MFCD-image {
    height: 20rem;
    width: 20rem;
}

.mockup-image {
    height: 20rem;
    width: 10rem;
}
.Solution-page{
    background: lightyellow; 
    fill: lightyellow;
}