.h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.MFCD-header, .mockup-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    
}

.MFCD-image {
    height: 25rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.mockup-image {
    height: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.Solution-page{
    background: lightyellow; 
    fill: lightyellow;
}
.Solution-statement{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5rem;
}
.solution-page-characteristics {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 100;
    margin-bottom: 2rem;
}
.solution-image{
    margin-top: 4rem;
    height: 20rem;
    width: 20rem;
    float: right;
}
.user-stories-header{
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(121, 8, 8)
}
.user-stories-sub-header{
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1em;
    margin-top: .5em;
    color: rgb(24, 121, 231);
}
.user-stories{
    font-weight: 600;
    font-size: 1rem;
}
.user-stories-main-header, .wbs-main-header{
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
}
.presentation-header{
    font-size: 3rem;
    font-weight: 700;
    color: brown;
    margin-top: 1.5rem;
}
.presentation-download{
    text-align: center;
    margin-top: .5em;
    font-size: 1.2rem;
    font-weight: 300;
}
.flow-header{
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(121, 8, 8);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mockup-image-2 {
    height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
}
.mockup-image-3 {
    height: 40rem;
    display: block;
    margin-left: 25rem;
    margin-right: auto;
    width: 50rem;
}